.popup {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(1, 1, 1, 0.5);
}
.content {
  color: white;
  background-color: rgba(1, 1, 1, 0.5);
  padding: 1rem;
}